<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>ClinicJavaWebEE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>UserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet/login</url-pattern>
		<url-pattern>/UserServlet/logout</url-pattern>
		<url-pattern>/UserServlet/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClinicServlet</servlet-name>
		<servlet-class>ClinicServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClinicServlet</servlet-name>
		<url-pattern>/ClinicServlet/dashboard</url-pattern>
		<url-pattern>/ClinicServlet/all-clinics</url-pattern>
		<url-pattern>/ClinicServlet/doctor-all-clinics</url-pattern>
		<url-pattern>/ClinicServlet/clinic-details</url-pattern>
		<url-pattern>/ClinicServlet/edit</url-pattern>
		<url-pattern>/ClinicServlet/update</url-pattern>
		<url-pattern>/ClinicServlet/delete</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AppointmentServlet</servlet-name>
		<servlet-class>AppointmentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AppointmentServlet</servlet-name>
		<url-pattern>/AppointmentServlet/AppointmentClinic</url-pattern>
		<url-pattern>/AppointmentServlet/BookAppointment</url-pattern>
		<url-pattern>/AppointmentServlet/PatientAppointments</url-pattern>
		<url-pattern>/AppointmentServlet/ClinicAppointments</url-pattern>
		<url-pattern>/AppointmentServlet/ShowAppointmentDetails</url-pattern>
		<url-pattern>/AppointmentServlet/ShowAppointmentDetails-Doctors</url-pattern>
		<url-pattern>/AppointmentServlet/UpdateAppointmentDetails</url-pattern>
		<url-pattern>/AppointmentServlet/UpdateAppointmentDetails-Doctors</url-pattern>
		<url-pattern>/AppointmentServlet/DeleteAppointment</url-pattern>
	</servlet-mapping>
	

</web-app>