@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap')
	;

/* General CSS */
* {
	font-family: 'Montserrat', sans-serif;
}

.rounded-lg {
	border-radius: 1rem !important;
}

.rounded-lg-clinic-card {
	border-radius: 1rem !important;
	border: 1px solid #dee2e6 !important;
}


/* USE THIS TO MAKE THE BODY GO UNDER THE FIXED NAVBAR*/
.fixed-top-body {
	padding-top: 100px !important;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.55);
	font-size: 1.1rem;
	border-bottom: 5px solid transparent !important;
}

.navbar-light .navbar-nav .nav-link:hover {
	border-bottom: 5px solid #0087FF !important;
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.55);
	border-color: transparent !important;
}

.navbar-inner-active {
	opacity: 1;
	transition: all 1s ease-in-out;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.active
	{
	border-bottom: 5px solid #0087FF !important;
}

.button-primary {
	background-color: #00E4BA;
}

/* Landing CSS */
.Hero-Section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 650px;
	position: relative;
	overflow: hidden;
	padding: 200px 0 80px;
	background-color: #DEF2F0;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
}

.Home-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	padding: 200px 0 80px;
	background-color: #e0efff;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
}

.Doctors-Home-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	padding: 200px 0 80px;
	background-color: #e0efff;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
}

.Clinic-Section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;
	border-bottom-left-radius: 35px;
	position: relative;
	border-bottom-right-radius: 35px;
	overflow: hidden;
	padding: 150px 0 50px;
	background-color: #00B6BD;
}

/** Patient & Doctors Home page **/
.card-home img {
	width: 100%;
	max-height: 200px;
}

.bg-home {
	background-color: #e0efff !important;
}

.clinic-img-head {
	width: 85% !important;
}

.card-img-top-alt {
	width: 100%;
	height: 170px;
	object-fit: cover;
	border-top-right-radius: 1rem !important;
	border-top-left-radius: 1rem !important;
	filter: brightness(90%);
}

.location-name-clinics-card {
	position: absolute;
	top: 2%;
	right: 3%;
}

.img-clinic {
	width: 100%;
	height: 343px;
	object-fit: cover;
}

.clinic-details-head {
	border-bottom: 5px solid #0087FF !important;
}

.search {
	position: relative;
	box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
	height: 60px;
	text-indent: 25px;
	border: 2px solid #d6d4d4
}

.search input:focus {
	box-shadow: none;
	border: 2px solid blue
}

.search .fa-search {
	position: absolute;
	top: 20px;
	left: 16px
}

.search button {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 50px;
	width: 110px;
}

.clinic-search .input-group {
	width: 85% !important;
}

.table-desc {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.card-event-name h5 b{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

/** Flow cards **/
.flow-card {
	min-height: 350px;
}

.flow-card .card-header {
	background-color: #DEF2F0;
	min-height: 230px;
}

/*Footer */
.footer {
	background-color: rgb(12, 12, 12);
	color: white;
	text-align: center;
}

.footer-desc {
	text-align: justify;
	text-justify: inter-word;
}